body{
	font-family: "Manrope", sans-serif;
}

.menu-icon {
    width: 24px;
    height: 18px;
    position: relative;
    cursor: pointer;
}

.menu-icon .line {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #333;
    transition: 0.25s;
}

.menu-icon .line1 {
    top: 0;
}

.menu-icon .line2 {
    top: 8px;
}

.menu-icon .line3 {
    top: 16px;
}

.menu-icon.active .line1 {
    transform: rotate(135deg);
    top: 8px;
}

.menu-icon.active .line2 {
    opacity: 0;
}

.menu-icon.active .line3 {
    transform: rotate(-135deg);
    top: 8px;
}

#dropdownButton[aria-expanded="true"] i[data-feather="chevron-down"] {
    transform: rotate(180deg);
}

/* Style global pour toutes les barres de défilement du site */
* {
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: rgba(90, 90, 90, 0.4) transparent;
}

/* Webkit (Chrome, Safari, Opera, Edge) */
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(90, 90, 90, 0.4);
    border-radius: 100px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

/* Au survol de la barre */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(90, 90, 90, 0.7);
    border: 2px solid transparent;
    background-clip: padding-box;
}

/* Quand on clique sur la barre */
::-webkit-scrollbar-thumb:active {
    background-color: rgba(90, 90, 90, 0.8);
}

/* Coins de la barre de défilement */
::-webkit-scrollbar-corner {
    background: transparent;
}

/* Commence ici les styles des composants react. 
1. Style pour le dashboard (accueil)
*/
.card {
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.status-badge {
    transition: all 0.2s ease;
}

.card:hover .status-badge {
    transform: scale(1.05);
}